

        <div  class="col p-4 m-5 text-center">
            <a routerLink="/productdetail/{{product.id}}"><img src="{{product.url}}"
             alt="{{product.description}}"
             class="img-thumbnail"> </a>
             <p class=" m-1">{{product.name}}</p>
             <p class="mt-3">{{product.price | currency:'USD'}}</p>
             <select name="amount" class="amount form-select" [(ngModel)]="product.amount"  >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select> <br>
              <div class="form-check m-2">
                <label class="form-check-label">Like it</label>
                <input class="form-check-input" type="checkbox" id="check1" name="like" 
                value="something" (click)="onlike(product)" >
                
              </div>
             <button  class=" m-1 btn btn-primary" type="submit" (click)="addToCart(product)" >add to cart</button>

        </div>
        


